<%= form_with(model: runner, local: true) do |f| %>

<%= f.fields_for :profile do |f| %>
<div>
    <%= f.label :username %>
    <%= f.text_field :username %>
</div>

<div>
    <%= f.label :age %>
    <%= f.number_field :age %>
</div>

<div>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
</div>
<% end %>
<div>
    <%= f.submit %>
</div>

<% end %>