<%= render "layouts/header" %>

<h1>Runners#index</h1>

<%= search_form_for @search do |f| %>

    <%= f.label :email_cont %>
    <%= f.text_field :email_cont %>

    <%= f.submit "Search" %>

<% end %>

<table>
    <tr>
        <th>email</th>
    </tr>
<% @runners.each do |runner| %>
    <tr>
        <td><%= runner.email %>
    </tr>
<% end %> 
</table>


<% @runners.each do |runner| %>
    <tr>
        <td><%= runner.username %>
    </tr>
<% end %> 

</table>
