<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
            <header>
                <%= render "layouts/header" %>
            </header>
        <section>
            <div class="home-intro-pics">
                <div id="profile-img">
                    <%= image_tag("running_forest.jpg", :alt => "running in forest", id: "img1") %>
                    <div id="overlay1">
                          Profile Home
                    </div>
                </div>
                <div id="search-img">
                    <%= image_tag("running_forest.jpg", :alt => "running in forest", id: "img2") %>
                        <div id="overlay2">
                                <h2>Runner</h2>
                                <h2>Search</h2>
                              </div>
                </div>
                <div id="other-img">
                    <%= image_tag("running_forest.jpg", :alt => "running in forest", id: "img3" )%>
                        <div id="overlay3">
                                <h2>Other</h2>
                                <h2>Option</h2>
                              </div>
                </div>
            </div>
            
            <div id="other-links">
                    <div id="box1">
                        <div><%= image_tag("add_contact.png", :alt => "partners running", id: "friends-icon") %></div>
                        <div> <p>Make new Friends</p></div>

                    </div>
                    <div id="box2">Improve your fitness level </div>
                    <div id="box3">Find yourself at the top of your game</div>
            </div>
    
        </section>   
        
    </body>
</html>

