<h1>Profiles#index</h1>

<%= search_form_for @search do |f| %>

 <%= f.collection_select :username_eq, Profile.all, :id, :username, include_blank: true %>
 <%= f.collection_select :pace_eq, Profile.all, :id, :pace, include_blank: true %>
 <%= f.collection_select :gender_eq, Profile.all, :id, :gender, include_blank: true %>

    <%= f.submit "Search" %>

<% end %>


only want these to show if admin or after doing a search. Can't view all all the time? Leave if no time to fix.
<table>
    <thead>
    <tr>
     <th>username   .</th>
        <th>pace   .</th>
        <th>gender   .</th>
        <th>profile-pic   .</th>
    </tr>
        </thead>
        <tbody>
<% @profile.each do |profile| %>
    <tr>
        <td><%= profile.username %>
         <td><%= profile.pace %>
        <td><%= profile.gender %>
        <td><%= profile.image.attached? ? image_tag(profile.image, height: 20) : "" %></td>
    </tr>
<% end %> 
 </tbody>
</table>




