<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>



<%= search_form_for @search do |f| %>

    <%= f.label :email_cont %>
    <%= f.text_field :email_cont %>

    <%= f.submit "Search" %>

<% end %>

<table>
    <tr>
        <th>email</th>
    </tr>
<% @runners.each do |runner| %>
    <tr>
        <td><%= runner.email %>
    </tr>
<% end %> 
</table>