<h1>Profiles#index</h1>

<%= search_form_for @search do |f| %>

 <%= f.collection_select :username_eq, Profile.all, :id, :username, include_blank: true %>
 <%= f.collection_select :pace_eq, Profile.all, :id, :pace, include_blank: true %>
 <%= f.collection_select :gender_eq, Profile.all, :id, :gender, include_blank: true %>

    <%= f.submit "Search" %>

<% end %>

<table>
    <thead>
    <tr>
     <th>username   .</th>
        <th>pace   .</th>
        <th>gender   .</th>
    </tr>
        </thead>
        <tbody>
<% @profile.each do |profile| %>
    <tr>
        <td><%= profile.username %>
         <td><%= profile.pace %>
        <td><%= profile.gender %>
    </tr>
<% end %> 
 </tbody>
</table>




