<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <header>
        <%= render "layouts/header" %>
    </header>

    <section >
    <%= search_form_for @search do |f| %>

    <div class="search-header"><h1>Seach for Runners</h1></div>
    <div class="field-wrapper">
        <h2>CRITERIA</h2>
        <hr>
    <div class="field">
        <h3>Pace:</h3> 
        <%= f.select(:pace_eq, options_for_select(Profile::TRAINING_PACE_LIST), {prompt: "select"}) %>
    </div>

    <!-- <div class="field"> <% f.collection_select :pace_eq, Profile.all, :id, :pace, include_blank: true %></div>
    <div class="field"> <% f.collection_select :gender_eq, Profile.all, :id, :gender, include_blank: true %></div> -->

    <div class="field">
        <h3>Gender:</h3>
        <%= f.select(:gender_eq, options_for_select(Profile::GENDER_OPTIONS), {prompt: "select"}) %>
    </div>
    <div class="field">
        <h3>Age:</h3>
        <%= f.select(:age_eq, options_for_select(Profile::AGE_RANGE), {prompt: "select"}) %>
    </div>
    <br>

    <div> <%= f.submit "Search", class: "actions" %></div>
    
    <% end %>
    </div>

    <div class="table-container"></div>
    <table class="table is-bordered is-narrow ">
        <thead>
            <tr>
                <th>profile-pic</th>
                <th>username</th>
                <th>pace</th>
                <th>gender</th>
            </tr>
        </thead>
        <tbody>
            <% @profile.each do |profile| %>
            <tr>
                <td><%= profile.image.attached? ? image_tag(profile.image, height: 75, width: 75) : "" %></td>
                <td><%= profile.username %>
                <td><%= profile.pace %>
                <td><%= profile.gender %>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>

    </section>

</body>

</html>

