<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <section>
      <div class="field-wrapper">
    <h3><strong>Username:</strong><%= @profile.username %></h3>
    <h3>Age: <%= @profile.age %></h3>
    <h3>Gender: <%= @profile.gender %></h3>
    <h3>Pace: <%= @profile.pace %></h3>
    <%= @profile.image.attached? ? image_tag(@profile.image, height: 40) : "" %>
  </div>
  </section>
  </body>
</html>
