<!DOCTYPE html>
<html>
  <head>
    <title>RunningApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class= "header">
        <div id="title"><%= link_to(image_tag("Runnerfy_logo_app.png", :alt => "runnerfy_logo", id: "img1"), root_path) %></div>
        <div class="links">
        <ul>
            <li><%= link_to("SEARCH", profiles_path, class: "links") %></li>
            <li><%= link_to("ABOUT US", pages_about_us_path, class: "links") %></li>
            <%if current_runner %>
            <li><%= link_to("EDIT PROFILE", edit_runner_path(current_runner), class: "links") %></li>
            <!-- <li><% if runner_signed_in?%>
              <%= current_runner.profile.username %>
              <% else %>
              <p></p>
              <% end %></li> -->
              <%= link_to("#{current_runner.profile.username}'s PROFILE", runner_path(current_runner), class: "links") %></li>
            <% end %> 
            <li>
                <% if current_runner %>
                <%= link_to "SIGN OUT", destroy_runner_session_path, method: :delete, class: "links" %>
                <% else %>
                <%= link_to "SIGN IN", new_runner_session_path, class: "links" %>
                <br>
                <%= link_to "SIGN UP", new_runner_registration_path, class: "links" %>
                <% end %>
            </li>
        </ul>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>