<!DOCTYPE html>
<html>
  <head>
    <title>RunningApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class= "level has-background-info">
        <p> <strong>TEMPORARY NAV</strong></p>
        <% if runner_signed_in?%>
        <p> Hello, <% current_runner.email %></p>
      <% end %>
        <ul>
            <li><%= link_to("HOME", root_path) %></li>
            <li><%= link_to("ALL USERS", runners_path) %></li>

            <%if current_runner %>
            <li><%= link_to("EDIT PROFILE", edit_runner_path(current_runner)) %></li>
            <% end %> 
        </ul>
        <% if runner_signed_in?%>
        <p> Hello, <% current_runner.first_name %></p>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>