<!DOCTYPE html>
<html>
  <head>
    <title>RunningApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class= "header">
        <% if runner_signed_in?%>
        <p> Current User: <%= current_runner.first_name %></p>
        <% end %>
        <p id="title">Runnerfy</p>
        <ul>
            <li><%= link_to("HOME", root_path, class: "links") %></li>
            <li><%= link_to("ALL USERS", runners_path, class: "links") %></li>

            <%if current_runner %>
            <li><%= link_to("EDIT PROFILE", edit_runner_path(current_runner), class: "links") %></li>
            <% end %> 
        </ul>
    </nav>

    <%= yield %>
  </body>
</html>